name: Comment PR

on:
  pull_request_target:
    branches:
      - main

jobs:
  comment-pr:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".node-version"
      - run: corepack enable && yarn && yarn build
      - run: npx chachalog comment-pr
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
