name: Comment PR

on:
  pull_request_target:
    branches:
      - main

jobs:
  comment-pr:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - run: yarn && yarn build
      - run: npx chachalog comment-pr
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
