name: Release

on:
  push:
    branches:
      - main
  workflow_dispatch: null

jobs:
  prepare-next-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - run: yarn && yarn build
      - run: npx chachalog prepare-next-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - name: Build and publish
        run: |
          yarn
          yarn workspaces foreach -vv --all --topological-dev run build
          yarn workspaces foreach -vv --all --topological --no-private npm publish --access public --tolerate-republish --provenance
      - run: npx chachalog publish-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
