name: Release

on:
  push:
    branches:
      - main
  workflow_dispatch: null

permissions:
  contents: write
  pull-requests: write

jobs:
  prepare-next-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".node-version"
      - run: corepack enable && yarn && yarn build
      - run: npx chachalog prepare-next-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      - name: Build and publish
        run: |
          corepack enable && yarn install
          yarn workspaces foreach -vv --all --topological-dev run build
          yarn workspaces foreach -vv --all --topological --no-private npm publish --access public --tolerate-republish
      - run: npx chachalog publish-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
