name: Test

on:
  push:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - run: yarn && yarn build && yarn test
      - run: rm -rf node_modules && node --test --test-name-pattern='chachalog' 'src/managers/**.test.ts'
